html,
body {
  min-height: 100%;
}

body {
  background: hsla(208, 100%, 43%, 1);

  background: linear-gradient(
    90deg,
    hsla(208, 100%, 43%, 1) 0%,
    hsla(208, 74%, 62%, 1) 40%,
    hsla(207, 73%, 81%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(208, 100%, 43%, 1) 0%,
    hsla(208, 74%, 62%, 1) 40%,
    hsla(207, 73%, 81%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(208, 100%, 43%, 1) 0%,
    hsla(208, 74%, 62%, 1) 40%,
    hsla(207, 73%, 81%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0074d9", endColorstr="#55a2e6", GradientType=1 );
}
h1.display-2 {
  font-weight: 500;
}
.card {
  border-radius: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
